{% extends "basic.html" %}
{% load static%}
{% block content %}
<div class="center clearfix">
    <nav class="page_left">
        <a href="{% url 'main:key' %}" class="nav_item clearfix">
            <div class="nav_item_img img_key"></div>
            <div class="nav_item_name">Ключи</div>
        </a>
        <a href="{% url 'main:req' %}" class="nav_item clearfix">
            <div class="nav_item_img img_req"></div>
            <div class="nav_item_name">Реквизиты</div>
        </a>
        <a href="{% url 'main:checks' %}" class="nav_item clearfix nav_item--active">
            <div class="nav_item_img img_rubl"></div>
            <div class="nav_item_name">Счета</div>
        </a>
        <a href="{% url 'main:help' %}" class="nav_item clearfix">
            <div class="nav_item_img img_help"></div>
            <div class="nav_item_name">Помощь</div>
        </a>
        <a href="{% url 'main:profile' %}" class="nav_item clearfix">
            <div class="nav_item_img img_profile"></div>
            <div class="nav_item_name">Профиль</div>
        </a>
        <a href="{% url 'main:logout' %}" class="nav_item clearfix">
            <div class="nav_item_img img_logout"></div>
            <div class="nav_item_name">Выйти</div>
        </a>
    </nav>
    <div class="page_right">
        <section class="section_page" data-id="3" style="display: block;">
            <a href="//ru.ceramic3d.com/" target="_blank">
                <img class="page_logo" src="{% static 'media/logo.png' %}" alt="logo">
            </a>
            <div class="clear"></div>
            <h1 class="page_title">Счета</h1>
            {% if not list_checks %}
                <p class="empty">Пока нет одного счета</p>
            {% else %}
            <div class="mainTable">
                <div class="tableAccountsFirst clearfix">
                    <div class="tableCell">№ п/п</div>
                    <div class="tableCell">№ счета</div>
                    <div class="tableCell">Дата счета</div>
                    <div class="tableCell">Сумма счета</div>
                    <div class="tableCell">Статус</div>
                    <div class="tableCell">Скачать счет</div>
                    <div class="tableCell">Загрузить платежное поручение</div>
                    <div class="tableCell">Скачать УПД</div>
                </div>
                {% for checks in list_checks %}
                <div class="tableAccountsSecond clearfix">
                    <div class="tableCell">{{forloop.counter}}</div>
                    <div class="tableCell">{{checks.num}}</div>
                    <div class="tableCell">{{checks.date}}</div>
                    <div class="tableCell" data-type="summ_js">{{checks.sum}}</div>
                    <div class="tableCell">{{checks.status}}</div>
                    {% if checks.docs != '' %}
                        <a target="blank" href="{{checks.docs}}" class="tableCell tabelCellArrow"></a>
                    {%endif%}
                    {% if checks.pay != '' %}
                    <div class="tabelCellUnion_parent">
                        <form method="post" data-form="{{checks.pk}}" enctype="multipart/form-data">
                            <input type="hidden" name="pk" value="{{checks.pk}}">
                            <input type="file" name="pay" class="pay_hide">
                            {% csrf_token %}
                        </form>
                        <div class="tableCell tabelCellUnion"></div>
                        {% if checks.pay == '' %}
                        <div class="tabelCellUnion_text">Файл не выбран</div>
                        {% else %}
                        <a target="blank" href="{{checks.pay}}" class="tabelCellUnion_text">
                            Файл добавлен.
                            <div>Скачать</div>
                        </a>
                        {% endif %}
                    </div>
                    {%endif%}
                    {% if checks.upd != '' %}
                    <a target="blank" href="{{checks.upd}}" class="tableCell tabelCellArrow"></a>
                    {%endif%}
                </div>
                {% endfor %}
            {%endif%}
            </div>
        </section>
    </div>
</div>
{% endblock %}