{% extends "basic.html" %}
{% load static%}
{% block content %}
<div class="dark_errors" style="display:{{display}}">
    <div class="errors_container help_mess">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="sucsess clearfix">
            <div class="sucsess_text help_mess_text">Спасибо, ваша заявка принята. Мы свяжемся с вами в ближайшее время.</div>
            <div class="sucsess_icon"></div>
        </div>
    </div>
</div>
<div class="center clearfix">
    <nav class="page_left">
        <a href="{% url 'main:key' %}" class="nav_item clearfix">
            <div class="nav_item_img img_key"></div>
            <div class="nav_item_name">Ключи</div>
        </a>
        <a href="{% url 'main:req' %}" class="nav_item clearfix">
            <div class="nav_item_img img_req"></div>
            <div class="nav_item_name">Реквизиты</div>
        </a>
        <a href="{% url 'main:checks' %}" class="nav_item clearfix">
            <div class="nav_item_img img_rubl"></div>
            <div class="nav_item_name">Счета</div>
        </a>
        <a href="{% url 'main:help' %}" class="nav_item clearfix nav_item--active">
            <div class="nav_item_img img_help"></div>
            <div class="nav_item_name">Помощь</div>
        </a>
        <a href="{% url 'main:profile' %}"  class="nav_item clearfix">
            <div class="nav_item_img img_profile"></div>
            <div class="nav_item_name">Профиль</div>
        </a>
        <a href="{% url 'main:logout' %}" class="nav_item clearfix">
            <div class="nav_item_img img_logout"></div>
            <div class="nav_item_name">Выйти</div>
        </a>
    </nav>
    <div class="page_right">
        <section class="section_page">
            <a href="//ru.ceramic3d.com/" target="_blank">
                <img class="page_logo" src="{% static 'media/logo.png' %}" alt="logo">
            </a>
            <div class="clear"></div>
            <h1 class="page_title">Помощь</h1>
            <form method="POST" class="mainMenu" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mailButts clearfix">
                    <input type="text" name="title" class="main_input" placeholder="Тема письма">
                    <div class="star">*</div>
                </div>
                <div class="clear"></div>
                <div class="contactMail">
                    <div>Контактная почта</div>
                    <div class="clear"></div>
                    <div>Мы ответим на вашу контактную почту. Изменить почту можно
                        <a href="{% url 'main:profile' %}">в профиле</a>
                    или в форме внизу</div>
                </div>
                <label class="contactMailIn">
                    <input type="text" placeholder="ij.ceram8ic3d@gmail.com" name="email" class="contactMailInput" value="{{user.email}}">
                    <div class="cross_input"></div>
                </label>
                <div class="mailQuestion">
                    <div>Ваш вопрос</div>
                    <div>Постарайтесь описать детали: если вопрос о конкретных аккаунтах или кампаниях, укажите их ID</div>
                    <div>
                        <textarea placeholder="Введите вопрос" name="question"></textarea>
                    </div>
                </div>
                <div class="investments">
                    <div class="investmentsUp">Вложения</div>
                    <div class="investmentsUp">-</div>
                    <div class="investmentsUp">Необязательно</div>
                </div>
                <div class="clear"></div>
                <div class="investmentsLittle">
                    <div>Можно добавить до 10 файлов. Максимальный размер одного файла - 20 Мбайт.</div>
                    <div>Поддерживаем основные форматы изображений и документов.</div>
                </div>
                <div class="clear"></div>
                <div class="inputFile">
                    <div>Прикрепить файл</div>
                    <input type="file" placeholder="Прикрепить файл" name="inv" id="file_help" multiple>
                </div>
                <p class="errors_file">Фаил не выбран</p>
                <div class="kyesBut">
                    <input type="submit" class="kyesButBut kyesButButBlue" value="Отправить">
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}