{% extends "basic.html" %}
{% load static%}
{% block content %}
<div class="center clearfix">
    <nav class="page_left">
        <a href="{% url 'main:key' %}" class="nav_item clearfix">
            <div class="nav_item_img img_key"></div>
            <div class="nav_item_name">Ключи</div>
        </a>
        <a href="{% url 'main:req' %}" class="nav_item clearfix">
            <div class="nav_item_img img_req"></div>
            <div class="nav_item_name">Реквизиты</div>
        </a>
        <a href="{% url 'main:checks' %}" class="nav_item clearfix">
            <div class="nav_item_img img_rubl"></div>
            <div class="nav_item_name">Счета</div>
        </a>
        <a href="{% url 'main:help' %}" class="nav_item clearfix nav_item--active">
            <div class="nav_item_img img_help"></div>
            <div class="nav_item_name">Помощь</div>
        </a>
        <div class="nav_item clearfix">
            <div class="nav_item_img img_profile"></div>
            <div class="nav_item_name">Профиль</div>
        </div>
        <a href="{% url 'main:logout' %}" class="nav_item clearfix">
            <div class="nav_item_img img_logout"></div>
            <div class="nav_item_name">Выйти</div>
        </a>
    </nav>
    <div class="page_right">
        <section class="section_page">
            <img class="page_logo" src="{% static 'media/logo.png' %}" alt="logo">
            <div class="clear"></div>
            <h1 class="page_title">Помощь</h1>
            <div class="mainMenu">
                <div class="headerHelp">
                    <a href="#" class="leftArrow">Назад</a>
                    <p>Написать Службе Заботы</p>
                </div>
                <div class="clear"></div>
                <div class="mailButts clearfix">
                    <select class="mailSelect">
                        <option value="1">Тема письма</option>
                        <option value="2">Тема письма</option>
                        <option value="3">Тема письма</option>
                    </select>
                    <div class="star">*</div>
                </div>
                <div class="clear"></div>
                <div class="contactMail">
                    <div>Контактная почта</div>
                    <div class="clear"></div>
                    <div>Мы ответим на вашу контактную почту. Изменить почту можно <a href="#">в профиле</a></div>
                </div>
                <label class="contactMailIn">
                    <input type="text" placeholder="ij.ceram8ic3d@gmail.com" class="contactMailInput">
                    <div class="cross_input"></div>
                </label>
                <div class="mailQuestion">
                    <div>Ваш вопрос</div>
                    <div>Постарайтесь описать детали: если вопрос о конкретных аккаунтах или кампаниях, укажите их ID</div>
                    <div>
                        <textarea placeholder="Введите вопрос"></textarea>
                    </div>
                </div>
                <div class="investments">
                    <div class="investmentsUp">Вложения</div>
                    <div class="investmentsUp">-</div>
                    <div class="investmentsUp">Необязательно</div>
                </div>
                <div class="clear"></div>
                <div class="investmentsLittle">
                    <div>Можно добавить до 10 файлов. Максимальный размер одного файла - 20 Мбайт.</div>
                    <div>Поддерживаем основные форматы изображений, документов и видео.</div>
                </div>
                <div class="clear"></div>
                <div class="inputFile">
                    <div>Прикрепить файл</div>
                    <input type="file" placeholder="Прикрепить файл">
                </div>
                <div class="kyesBut">
                    <div class="kyesButBut kyesButButBlue">Отправить</div>
                    <div class="kyesButBut kyesButButWhite">Закрыть</div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}