{% extends "basic.html" %}
{% load static%}
{% block content %}
<div class="dark_errors">
    <div class="errors_container" id="key_edit">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="key_info clearfix">
            <div class="key_info_item" data-type="num"></div>
            <div class="key_info_item" data-type="name"></div>
            <div class="key_info_item" data-type="tariff"></div>
            <div class="key_info_item" data-type="date"></div>
        </div>
        
        {% for tarif in tariffs%}
        {% if tarif.name != "Отсутствует" %}
        <div class="tarif clearfix" data-hide="{{tarif.name}}">
            <div class="tarif_dop_info">
                <div class="tarif_icon" data-ind="{{tarif.pk}}"></div>
                <div class="tarif_dop_info_item" data-ind="{{tarif.pk}}">
                    <div class="clearfix">
                        <div class="tarif_dop_info_title">
                            <div class="above_title">Тариф</div>
                            {{tarif.name}}
                        </div>
                        <div class="tarif_price clearfix">
                            <div class="tarif_price_num">{{tarif.price1}}</div>
                            <div class="tarif_price_text">₽/мес.</div>
                        </div>
                    </div>
                    <div class="tarif_benefits">
                        {{tarif.content | safe}}
                    </div>
                </div>
            </div>
            <div class="tarif_title">{{tarif.name}}</div>
            <div class="tarif_butts tarif_butts-selected" data-price="{{tarif.price1}}" data-col="1">1 месяц</div>
            <div class="tarif_butts" data-price="{{tarif.price2}}" data-col="3">3 месяца</div>
            <div class="tarif_butts" data-price="{{tarif.price3}}" data-col="12">12 месяцев</div>
            <div class="tarif_info">
                <div class="tarif_info_price">{{tarif.price1}} <span>₽</span></div>
                <div class="tarif_info_date">{{first_date}}</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="tarif_text">Повысить тариф с сегодняшней даты</div>
        <div class="tarif_butt">
            <input type='checkbox' checked class='tarif_butt-switch' id='checkbox-1'>
            <label for='checkbox-1'></label>
        </div>
        <div class="tarif_submit">ПОДТВЕРДИТЬ</div>
    </div>
    <div class="errors_container" id="add_key_form">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="errors_container_margin">
            <label for="key">
                <input type="text" name="key" placeholder="Номер ключа" class="inputMain" required id="key_add_input">
                <div class="help_text" id="key_errors" style="display: none;">Несуществующий ключ</div>
            </label>
        </div>
        <div class="errors_container_butt key_add_butt" id="key_add_butt">Получить код</div>
    </div>
    <div class="errors_container" id="code">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="errors_container_margin">
            <div class="text_for_code">Для добавления ключа необходимо
                получить проверочный код, который
                отобразится в программе
                с соответствующим ключом</div>
            <label for="code_add_input">
                <input type="text" name="key" id="code_add_input" placeholder="Проверочный код" class="inputMain" required>
            </label>
            <div class="help_text" id="code_errors" style="display: none;">Неверный код</div>
        </div>
        <div class="errors_container_butt key_add_butt" id="get_key">ОТПРАВИТЬ</div>
    </div>
    <div class="errors_container" id="form_get_key">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="sucsess clearfix">
            <div class="sucsess_text">Ключ добавлен</div>
            <div class="sucsess_icon"></div>
        </div>
    </div>
    <div class="errors_container" id="delete_key_form">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="errors_container_margin">
            <div class="delete_key_text">Вы уверены?</div>
            <div class="delete_key_butts clearfix">
                <input type="hidden" name="delKeys" id="delKeys">
                <div class="delete_key_buts_item delete_key_buts_item-white" id="del_yes">ДА</div>
                <div class="delete_key_buts_item delete_key_buts_item-blue" id="not_del">НЕТ</div>
            </div>
        </div>
    </div>

</div>
<div class="center clearfix">
    <nav class="page_left">
        <a href="{% url 'main:key' %}" class="nav_item clearfix nav_item--active">
            <div class="nav_item_img img_key"></div>
            <div class="nav_item_name">Ключи</div>
        </a>
        <a href="{% url 'main:req' %}" class="nav_item clearfix">
            <div class="nav_item_img img_req"></div>
            <div class="nav_item_name">Реквизиты</div>
        </a>
        <a href="{% url 'main:checks' %}" class="nav_item clearfix">
            <div class="nav_item_img img_rubl"></div>
            <div class="nav_item_name">Счета</div>
        </a>
        <a href="{% url 'main:help' %}" class="nav_item clearfix">
            <div class="nav_item_img img_help"></div>
            <div class="nav_item_name">Помощь</div>
        </a>
        <a href="{% url 'main:profile' %}"  class="nav_item clearfix">
            <div class="nav_item_img img_profile"></div>
            <div class="nav_item_name">Профиль</div>
        </a>
        <a href="{% url 'main:logout' %}" class="nav_item clearfix">
            <div class="nav_item_img img_logout"></div>
            <div class="nav_item_name">Выйти</div>
        </a>
    </nav>
    <div class="page_right">
        <section class="section_page">
            <img class="page_logo" src="{% static 'media/logo.png' %}" alt="logo">
            <div class="clear"></div>
            <h1 class="page_title">мои ключи</h1>
            <div class="kyes_butts">
                <div class="kyes_butts_button kyes_butts_button--blue" id="add_key">ДОБАВИТЬ КЛЮЧ</div>
                <div class="kyes_butts_button kyes_butts_button--white hidden_for_click" id="delete_keys_but">отвязать КЛЮЧ</div>
                <div class="kyes_butts_button kyes_butts_button--orange">оплатить</div>
            </div>
            <div class="clear"></div>
            <div class="tabel_kyes">
                <div class="title_cell">
                    <div class="cell_item title_cell_img">№ ключа</div>
                    <div class="cell_item">Название</div>
                    <div class="cell_item">Тариф</div>
                    <div class="cell_item">Работает до</div>
                </div>
                {% for key in list_keys %}
                    {% if key.tariff.name == 'Отсутствует' %}
                        <div class="cell cell--red">
                    {% else %}
                        <div class="cell cell--green">
                    {% endif %}
                        <div class="cell_item cell_item_img cell_item_click" data-type="num">{{key.number}}</div>
                        <div class="cell_item cell_item_click" data-type="name" data-change="{{key.pk}}">{{key.name}}</div>
                        <form method="post" data-change="{{key.pk}}">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value="{{key.pk}}">
                            <input type="text" name="name" data-change="{{key.pk}}" value="{{key.name}}" class="cell_item cell_item_input">
                        </form>
                        {% if key.tariff.name != "Отсутствует" %}
                        <div class="cell_item clearfix">
                            <div class="cell_item_text"  data-type="tariff">{{key.tariff}}</div>
                            <div class="cell_quest">
                                <div class="icon_quest" data-ind="{{key.pk}}"></div>
                                <div class="cell_quest_dopInfo clearfix" data-ind="{{key.pk}}">
                                    <div class="cell_quest_dopInfo_text">Тариф “{{key.tariff}}” подключен до {{key.date}} </div>
                                    <div class="cell_quest_dopInfo_icon"></div>
                                </div>
                            </div>
                        </div>
                        <div class="cell_item">
                            <div class="cell_item_text" data-type="date">{{key.date}}</div>
                            <div class="icon_edit"></div>
                        </div>
                            {% else %}
                        <div class="cell_item cell_item_empty">

                        </div>
                            <div class="cell_item cell_item_empty">
                                <div class="cell_item_text" data-type="date"></div>
                                <div class="icon_edit"></div>
                            </div>
                        {% endif %}
                    </div>
                {%endfor%}
            </div>
        </section>
    </div>
</div>
{% endblock %}