{% extends "basic.html" %}
{% load static%}
{% block content %}
<div class="center clearfix">
    <nav class="page_left">
        <a href="{% url 'main:key' %}" class="nav_item clearfix">
            <div class="nav_item_img img_key"></div>
            <div class="nav_item_name">Ключи</div>
        </a>
        <a href="{% url 'main:req' %}" class="nav_item clearfix nav_item--active">
            <div class="nav_item_img img_req"></div>
            <div class="nav_item_name">Реквизиты</div>
        </a>
        <a href="{% url 'main:checks' %}" class="nav_item clearfix">
            <div class="nav_item_img img_rubl"></div>
            <div class="nav_item_name">Счета</div>
        </a>
        <a href="{% url 'main:help' %}" class="nav_item clearfix">
            <div class="nav_item_img img_help"></div>
            <div class="nav_item_name">Помощь</div>
        </a>
        <a href="{% url 'main:profile' %}"  class="nav_item clearfix">
            <div class="nav_item_img img_profile"></div>
            <div class="nav_item_name">Профиль</div>
        </a>
        <a href="{% url 'main:logout' %}" class="nav_item clearfix">
            <div class="nav_item_img img_logout"></div>
            <div class="nav_item_name">Выйти</div>
        </a>
    </nav>
    <div class="page_right">
        <section class="section_page">
            <img class="page_logo" src="{% static 'media/logo.png' %}" alt="logo">
            <div class="clear"></div>
            <h1 class="page_title">Реквизиты</h1>
            <div class="kyes_butts">
                <a href="{% url 'main:requisites_add' %}"
                   class="kyes_butts_button kyes_butts_button--orange">Добавить реквизиты</a>
            </div>
            <div class="req">
                {% if not list_req %}
                    <p class="empty">Пока нет реквизитов</p>
                {% else %}
                    {% for req in list_req %}
                        <div class="req_item clearfix" data-hide="{{req.hide}}">
                            <div class="req_item_icon" data-name="{{req.org}}"></div>
                            <div class="req_item_info">
                                <div class="req_item_title">{{req.company}}</div>
                            </div>
                          <div class="req_item_right clearfix">
                                <a href="{% url 'main:ChangeRequisites' pk=req.pk %}" class="req_icon_edit"></a>
                            </div>
                        </div>
                    {% endfor %}
                {%endif%}
            </div>
        </section>
    </div>
</div>
{% endblock %}