{% extends "basic.html" %}
{% load static%}
{% block content %}
<div class="dark_errors" style="display:{{display}}">
    <div class="errors_container help_mess">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="sucsess clearfix">
            <div class="sucsess_text help_mess_text">Реквизиты успешно добавлены</div>
            <div class="sucsess_icon"></div>
        </div>
    </div>
</div>
<div class="center clearfix">
    <nav class="page_left">
        <a href="{% url 'main:key' %}" class="nav_item clearfix">
            <div class="nav_item_img img_key"></div>
            <div class="nav_item_name">Ключи</div>
        </a>
        <a href="{% url 'main:req' %}" class="nav_item clearfix nav_item--active">
            <div class="nav_item_img img_req"></div>
            <div class="nav_item_name">Реквизиты</div>
        </a>
        <a href="{% url 'main:checks' %}" class="nav_item clearfix">
            <div class="nav_item_img img_rubl"></div>
            <div class="nav_item_name">Счета</div>
        </a>
        <a href="{% url 'main:help' %}" class="nav_item clearfix">
            <div class="nav_item_img img_help"></div>
            <div class="nav_item_name">Помощь</div>
        </a>
        <a href="{% url 'main:profile' %}"  class="nav_item clearfix">
            <div class="nav_item_img img_profile"></div>
            <div class="nav_item_name">Профиль</div>
        </a>
        <a href="{% url 'main:logout' %}" class="nav_item clearfix">
            <div class="nav_item_img img_logout"></div>
            <div class="nav_item_name">Выйти</div>
        </a>
    </nav>
    <div class="page_right">
        <section class="section_page">
            <img class="page_logo" src="{% static 'media/logo.png' %}" alt="logo">
            <div class="clear"></div>
            <h1 class="page_title">Новый договор</h1>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="org" value="{{form.org.value}}">
                <div class="chekFace">
                    <div><input type="radio" name="org" value="Юридическое лицо" checked required>Юридическое лицо</div>
                    <div><input type="radio" name="org" value="Индивидуальный предприниматель" required>Индивидуальный предприниматель</div>
                    <div><input type="radio" name="org" value="Физическое лицо" required>Физическое лицо</div>
                </div>
                <div class="mainContactFace">
                    <div class="contactFace">
                        <input type="text" placeholder="ИНН" name="inn" class="contactFaceInput" required
                               value="{{form.inn.value}}">
                        <div class="cross_input"></div>
                    </div>
                    <div class="contactFace">
                        <input type="text" placeholder="КПП" name="kpp" class="contactFaceInput" required
                               value="{{form.kpp.value}}">
                        <div class="cross_input"></div>
                    </div>
                    <div class="contactFace">
                        <input type="text" name="company" placeholder="Юридическое название организации"
                               class="contactFaceInput" required value="{{form.company.value}}">
                        <div class="cross_input"></div>
                    </div>
                    <div class="contactFace">
                        <input type="text" placeholder="Юридический адрес"
                               name="address" class="contactFaceInput" required value="{{form.address.value}}">
                        <div class="cross_input"></div>
                    </div>
                </div>
                <div class="contactInf">
                    <div>Контактная информация</div>
                    <div></div>
                </div>
                <div class="clear"></div>
                <div class="contactInfForm">
                    <div class="contactForm">
                        <input type="text" placeholder="Контактное лицо" name="contacts"
                               class="contactFormInput" required value="{{form.contacts.value}}">
                        <div class="cross_input"></div>
                    </div>
                    <div class="contactForm">
                        <input type="email" placeholder="E-mail" name="email" class="contactFormInput" required
                               value="{{form.email.value}}">
                        <div class="cross_input"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="contactForm">
                        <input type="text" placeholder="Контактный телефон" name="phone"
                               class="contactFormInput" required  value="{{form.phone.value}}">
                        <div class="cross_input"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="documents">
                    <div>Как вы будете забирать документы</div>
                    <div></div>
                </div>
                <div class="clear"></div>
                    <div class="originalDocuments clearfix">
                        <select class="originalDocumentsSelect" data-value="{{form.docs.value}}" name="docs" required>
                            <option value="Мне не нужны оригиналы">Мне не нужны оригиналы</option>
                            <option value="Мне нужны оригиналы">Мне нужны оригиналы</option>
                        </select>
                    </div>
                <div class="clear"></div>
                <div class="bank">
                    <div>Банк</div>
                    <div></div>
                </div>
                <div class="clear"></div>
                <div class="mainContactFace">
                    <div class="contactFace">
                        <input type="text" placeholder="Наименование банка" name="bank"
                               value="{{form.bank.value}}" class="contactFaceInput" required>
                        <div class="cross_input"></div>
                    </div>
                    <div class="contactFace">
                        <input type="text" placeholder="Расчетный счет" name="checking"
                               value="{{form.checking.value}}" class="contactFaceInput" required>
                        <div class="cross_input"></div>
                    </div>
                    <div class="contactFace">
                        <input type="text" placeholder="БИК" name="bic"
                               value="{{form.bic.value}}" class="contactFaceInput" required>
                        <div class="cross_input"></div>
                    </div>
                    <div class="contactFace">
                        <input type="text" placeholder="Корреспондентский счет"
                               value="{{form.checkingCo.value}}" name="checkingCo" class="contactFaceInput" required>
                        <div class="cross_input"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="ogrn">
                    <div>ОГРН</div>
                    <input type="hidden" name="ogrn" id="ogrn" value="{{form.ogrn.value}}">
                    <div class="tableOgrn clearfix">
                        <input type="number" class="inputTableOgrn" data-change="1" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="2" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="3" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="4" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="5" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="6" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="7" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="8" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="9" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="10" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="11" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="12" maxlength="1" min="1">
                        <input type="number" class="inputTableOgrn" data-change="13" maxlength="1" min="1">
                    </div>
                </div>
                <div class="clear"></div>
                <div class="orangeButt">
                    <input type="submit" id="butt_add_req" value="Изменить реквизиты" class="kyes_butts_button kyes_butts_button--orange">
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}