{% extends "basic.html" %}
{% load static %}
{% block content %}

<div class="center clearfix">
    <img class="main_left" src="{% static 'media/main_img.png' %}" alt="mainImg">
    <div class="main_right">
        <a href="//ru.ceramic3d.com/" target="_blank">
            <img class="main_logo" src="{% static 'media/logo.png' %}" alt="logo">
        </a>
        <div class="main_right_title">Облачный рендер Ceramic 3D<span>Личный кабинет</span></div>
        <form class="mainForm" method="POST" id="fogot">
            <div class="two_titles clearfix">
                <div class="form_title">ВОССТАНОВЛЕНИЕ</div>
                <div class="back_butt" id="back">Назад</div>
            </div>
            <label for="login" class="pos">
                <input type="text" name="login" placeholder="Введите почту или ключ" class="inputMain" required>
                <div class="cross_input"></div>
            </label>
            <input type="submit" value="ПОЛУЧИТЬ КОД" class="formButt">
        </form>
        <div class="contact_text">
            <div class="contact_phone">+7 (495) 215-24-47</div>
            info@ceramic3d.ru<br>
            г. Екатеринбург, проезд<br>
            Решетникова 22а, оф. 410<br>
        </div>
    </div>
</div>
{% endblock %}