{% extends "basic.html" %}
{% load static %}

{% block content %}
<div class="center clearfix">
    <img class="main_left" src="{% static 'media/main_img.png' %}" alt="mainImg">
    <div class="main_right">
        <a href="//ru.ceramic3d.com/" target="_blank">
            <img class="main_logo" src="{% static 'media/logo.png' %}" alt="logo">
        </a>
        <div class="main_right_title">Облачный рендер Ceramic 3D<span>Личный кабинет</span></div>
        <form class="mainForm" method="POST">
            <div class="two_titles clearfix">
                <div class="form_title">авторизация</div>
                <a class="back_butt" id="change_key">{{text}}</a>
            </div>
            {% csrf_token %}
            <label for="login" class="pos" id="email_choice" style="display: {{email_display}};">
                <input type="email" placeholder="Почта" id="login" class="inputMain" name="username" required>
                <div class="cross_input"></div>
                <div class="help_text">{{username}}</div>
            </label>
            <label for="key" class="pos" id="key_choice" style="display: {{key_display}};">
                <input type="text" placeholder="Ключ" id="key" class="inputMain" name="key">
                <div class="cross_input"></div>
                <div class="help_text">{{key}}</div>
            </label>
            <label for="password">
                <input type="password" name="password" id="password" placeholder="Пароль" class="inputMain" required>
                <div class="help_text">{{password}}</div>
            </label>
            <input type="submit" value="ВХОД" class="formButt">
            <a href="/password_email_form" class="underButtText" id="fogotClick">Забыли пароль?</a>
            <a href="/registration" class="orange_butt" id="create">Создать аккаунт</a>
        </form>
        <div class="contact_text">
            <div class="contact_phone">+7 (495) 215-24-47</div>
            info@ceramic3d.ru<br>
            г. Екатеринбург, проезд<br>
            Решетникова 22а, оф. 410<br>
        </div>
    </div>
</div>
{% endblock %}