{% extends "layout/basic.html" %}

{% block content %}
<div class="dark_errors" style="display: block;">
   <div class="errors_container" style="display: block;">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
        </div>
       <form class="mainForm" method="POST">
        {% csrf_token %}
        <p>Добро пожаловать, {{user.username}}. Что бы сменить пароль, заполните форму внизу.</p>
        <label for="password" class="pos">
            <input type="password" placeholder="Новый пароль" id="password" class="inputMain" name="password" required="">
            <div class="help_text"></div>
        </label>
        <label for="password2">
            <input type="password" name="password2" id="password2" placeholder="Повторите пароль" class="inputMain" required="">
            {% if errors != '' %}
                <div class="help_text">{{errors}}</div>
            {% endif %}
        </label>
        <input type="submit" value="Сменить пароль" class="formButt">
    </form>
   </div>
</div>
{% endblock %}