{% extends "layout/basic.html" %}

{% block content %}
<div class="dark_errors" style="display: block;">
    <div class="errors_container" style="display: block;">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="sucsess clearfix">
            <div class="sucsess_text">Пароль изменен</div>
            <div class="sucsess_icon"></div>
        </div>
    </div>
</div>
{% endblock %}