{% extends "basic.html" %}
{% load static %}
{% block content %}
<div class="center clearfix">
    <div class="dark_errors" style="display:{{display}}">
        <div class="errors_container" id="form_get_key">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
            <div class="errors_container_cross"></div>
        </div>
        <div class="sucsess clearfix">
            <div class="sucsess_text">{{mail}}</div>
            <div class="sucsess_icon"></div>
        </div>
    </div>
    </div>
    <img class="main_left" src="{% static 'media/main_img.png' %}" alt="mainImg">
    <div class="main_right">
        <img class="main_logo" src="{% static 'media/logo.png' %}" alt="logo">
        <div class="main_right_title">Облачный рендер Ceramic 3D<span>Личный кабинет</span></div>
        <form class="mainForm" method="POST">
            <div class="two_titles clearfix">
                <div class="form_title">Смена пароля</div>
                <a href="/" class="back_butt" id="auth">Авторизоваться</a>
            </div>
            {% csrf_token %}
            <label for="login" class="pos">
                <input type="email" placeholder="Почта" id="login" class="inputMain" name="username" required>
                <div class="cross_input"></div>
                <div class="help_text">{{errors}}</div>
            </label>
            <input type="submit" value="Отправить письмо" class="formButt">
            <a href="/registration" class="orange_butt" id="create">Создать аккаунт</a>
        </form>
        <div class="contact_text">
            <div class="contact_phone">+7 (495) 215-24-47</div>
            info@ceramic3d.ru<br>
            г. Екатеринбург, проезд<br>
            Решетникова 22а, оф. 410<br>
        </div>
    </div>
</div>
{% endblock %}