{% extends "basic.html" %}
{% load static%}
{% block content %}
<div class="dark_errors" style="display: block;">
   <div class="errors_container errors_container--email" style="display: block;">
        <div class="errors_container_titles clearfix">
            <div class="errors_container_title">Ceramic 3D</div>
        </div>
        <div class="password_success">
            <div class="title">Здравствуйте, {{user}}!</div>
            <p class="new_pass">Ваш новый пароль: <span>{{password}}</span>
            <p class="help_pass">Администрация сайта настоятельно рекомендует сменить его на более
                                 надежный и удобный.</p>
        </div>
        <a href="{% url 'main:login' %}" class="errors_container_butt key_add_butt">АВТОРИЗАЦИЯ</a>
   </div>
</div>
{% endblock %}